* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

header {
    background-color: hsl(13, 100%, 72%);
    border-radius: 0 0 0 5em;
}

nav {
    font-family: 'Overpass', sans-serif;
}

.nav-brand a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1.5em;
}

.header-svg  {
    height: 100%;
    /* display: flex; */
    background-image: url('/images/bg-pattern-intro-desktop.svg');
    background-size: 100% 100%;
    -o-background-size: 100% 100%; 
    -webkit-background-size: 100% 100%;
    background-size:cover; 
    background-position: center;
}

.nav-flex .nav-brand {
    display: inline-flex;
    padding: 2.5em;
    margin-left: 2em;
    
}

.nav-flex-list {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nav-left {
    display: flex;

}

.nav-left .dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.nav-left .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f9f9f9; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color:  hsl(0, 0%, 100%);
}

.nav-left .dropdown-content a {
    float: none;
    padding: 12px 16px;
    color: hsl(228, 10%, 10%);
    text-decoration: none;
    display: block;
    text-align: left;
  }

.nav-left .dropdown-content a:hover {
    color: hsl(0, 0%, 0%);
    font-weight: 600;
    font-size: 20px;

}

.dropdown:hover .dropdown-content {
    display: block;
}


.nav-right {
    margin-left: 35em;
}

.nav-right a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    padding: .8em;
    display: inline-block;
}

.nav-right .signup:hover {
    background-color: hsla(0, 0%, 100%, 0.29);
    border-radius: 15px;
}


/*******   Hero Main       *******/

.hero-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-main .hero-text h1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.8em;
    font-weight: 500;
    padding: .5em;
}

.hero-main .hero-text p {
    font-size: 16px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    padding-bottom: 3em;
}

.hero-main .hero-call-action {
    margin-bottom: 7em;
}

.hero-main .hero-call-action a {
    padding: .7em;
    margin: .5em;
}

.hero-main .hero-call-action .free {
    background-color: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
    text-decoration: none;
    font-family: 'Overpass', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 15px;
}

.hero-main .hero-call-action .free:hover {
    background-color: hsla(0, 0%, 100%, 0.29);
    color: hsl(0, 0%, 100%);
}

.hero-main .hero-call-action .more {
    background-color: hsla(0, 0%, 100%, 0.29);
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'Overpass', sans-serif;
    border-radius: 15px;
    font-weight: 600;

}

.hero-main .hero-call-action .more:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
    text-decoration: none;
    font-family: 'Overpass', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 15px;
}


/****   Future Section    *******/

#future {
    background-color: hsl(0, 0%, 100%);
    padding: 2em;
}

.future-svg img {
    width: 40em;
    background-image: url('/images/illustration-laptop-desktop.svg/');
    /* background-size: 50% 50%;  */
    /* -o-background-size: 100% 100%; 
    -webkit-background-size: 100% 100%; */
    background-size: cover; 
    background-position: center;
    margin-top: -5em;
    margin-right: -2em;
}

#future h1 {
    font-size: 2em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    color: hsl(208, 49%, 24%);
    font-family: 'Overpass', sans-serif;
    font-family: 600;
}

.future-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-wrapper {
    color: hsl(208, 49%, 24%);
    margin-top: -10em;
    padding: 3em;
}

.desc-one,
.desc-two {
    margin: 1em;
    padding-bottom: 1em;
}

.desc-one h2, 
.desc-two h2 {
    font-size: 1.5em;
    font-family: 'Overpass', sans-serif;
    padding-bottom: .5em;
    padding-top: .8em;
    
}

.desc-one p, 
.desc-two p {
    font-family: 'Overpass', sans-serif;
    font-size: .99em;
    line-height: 1.7em;
    
   

}

/***** End of Future Section ****/

#state {
    background-color: hsl(237, 17%, 21%);
    height: 29em;
    border-radius: 0 5em 0 5em;

}

.state-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.state-text {
    margin-top: -10em;
}

.state-text h1 {
    font-family: 'Overpass', sans-serif;
    font-size: 2em;
    text-align: left;
    color: hsl(0, 0%, 100%);
    padding-bottom: .8em;

}

.state-text p {
    color: hsl(0, 0%, 100%);
    line-height: 2em;
}

.state-text {
    padding: 3em;
}

/**** End of State Section *****/

#laptop {
    

}

.laptop-wrapper {
    margin-top: 5em;
    padding-bottom: 3em;
}

.laptop-flex img {
    width: 52em;
    margin-left: -7em;
}

.laptop-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.laptop-text
.desc-one, .desc-two, h2 {
    padding-top: 1em;
    text-align: left;
    padding-bottom: 1em;
}

.laptop-text
.desc-one-laptop, .desc-two-laptop {
    margin-left: 2em;
    margin-right: 2em;
}

.laptop-text
.desc-one-laptop, .desc-two-laptop, p {
    padding: 0 0em;
    line-height: 1.5em;
    padding-left: 0em;
    padding-right: 2em;
}


/****** End of Laptop Section *****/


/******  Footer Section *****/

footer {
    background-color: hsl(240, 10%, 16%);
    color: hsl(0, 0%, 100%);
    font-family: 'Ubuntu', sans-serif;
    border-radius: 0 5em 0 0;
}

.footer-wrapper {
    padding: 3em;
    
}

.footer-text-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text-flex
.ft-column {
    display: flex;
    flex-direction: column;
    margin-right: 8em;
    margin-left: 5em;
}

.ft-column .column-list {
    display: flex;
    flex-direction: column;
}

.ft-column
.column-list a {
    display: block;
    padding: 1em;
    margin-bottom: .5em;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 16px;
}

.ft-column
.column-list a:hover {
    text-decoration: underline;
}

.footer-text-flex .connect {
    margin-top: -3em;
}

